//Colors
$main-color: #6b717f;
$link-color: #036;
$sass-head-color:rgb(151, 87, 151);

// Size
$font-20:20px;
$base:4px;
$margin-20:20px;
$padding-20:20px;

//Weight
$main-weight:300;

//responsive
$max-lg-width:992px;
$max-md-width:768px;
$max-sm-width:567px;